<a href="https://colab.research.google.com/github/Saipraveen1/Machine-Learning-Algorithms/blob/main/MLR_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem Description:
We have a dataset of 50 start-up companies. This dataset contains five main information: R&D spend, administration spend, marketing spends, state, and profit for a financial year.
**GOAL:**
Our goal is to create a model that can easily determine which company has a maximum profit, and which is the most affecting factor of a company.

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

loading data

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
data_set = pd.read_csv('/content/drive/MyDrive/ml practice/50_Startups.csv')
data_set.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

Extract the dependent variables and the independent variables

In [9]:
x = data_set.iloc[:, :-1].values
y = data_set.iloc[:, 4].values

Changing catagoriacal data to numerical values this is known as dummy data

Avoiding the dummy variable trap

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_x = LabelEncoder()
x[:,3] = labelencoder_x.fit_transform(x[:,3])
onehotencoder = OneHotEncoder(categorical_features = [3])
x = onehotencoder.fit_transform(x).toarray()

In [13]:
x = x[:,1:]

Split the dataset training and testing sets

In [19]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y ,test_size=0.2,random_state=0)

Fitting the Multiple linear regression to the training set.

In [15]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Prediction of test set result

In [16]:
y_pred = regressor.predict(x_test)
x_pred = regressor.predict(x_train)

Score test

In [20]:
print('Train Score:',regressor.score(x_train,y_train))
print('Test Score:',regressor.score(x_test,y_test))

Train Score: 0.6468352904514658
Test Score: 0.3197112827971028